	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="index.html">Amigos de João Vitor</a></h1>
				<nav role="navigation">
					<ul>
						<li class="cta"><a href="#">Faça sua Doação!</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		
	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(images/slide_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Conheça João Vitor Mendonça de Toledo</h2>
		   					<p><a href="https://wa.link/34fjcy" class="btn btn-primary btn-lg">Quero ajudar!</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slide_2.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Tire suas dúvidas com a gente</h2>
		   					<p><a href="https://wa.link/34fjcy" class="btn btn-primary btn-lg">Converse conosco!</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slide_3.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Faça sua doação pelo pix: amigosdejoavitor@gmail.com </h2>
		   					<p><a href="https://wa.link/34fjcy" class="btn btn-primary btn-lg">Amigos de João Vitor</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-blog-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Quem é João Vitor?</h2>
					<p>João Vitor, filho de Marina e Vitor, é uma criança que, desde sua concepção, é especial aos olhos de Deus. <b>No ventre de sua mãe, João apresenta uma má formação chamada Hérnia Diafragmática Congênita, que prejudica seu desenvolvimento e coloca em risco tanto sua vida quanto a de sua mãe, Marina, durante o parto.</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="#" class="item-grid">
						<div class="image" style="background-image: url(images/image_1.png)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">A formação de João Vitor</h3>
								<p>Devido a sua má formação, os órgãos da criança encontram-se alocados no tórax, deslocando o coração e comprimindo os pulmões.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="#" class="item-grid">
						<div class="image" style="background-image: url(images/image.png)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">O que precisa ser feito?</h3>
								<p>Para permitir o posicionamento correto dos órgãos e uma formação segura, João precisa passar por uma cirurgia. <b>Entenda melhor abaixo.</b></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a href="https://wa.link/34fjcy" class="btn btn-primary with-arrow">Ajude João Vitor com sua doação! <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>O que é a Hérnia Diafragmática Congênita?</h2>
					<p>A Hérnia Diafragmática Congênita é um defeito no diafragma músculo que separa as estruturas abdominais das torácicas, permitindo a passagem dos órgãos para o tórax. Isso causa o deslocamento do coração e principalmente, a compressão dos pulmões, dificultando a respiração no nascimento.</p>
					<img src="images/exame.png" alt="Imagem explicativa sobre a Hérnia Diafragmática Congênita" class="responsive-img animate-img">
				</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="baby"></i>
						<div class="desc">
							<h3>Período de gestação</h3>
							<p>Durante a gestação, é necessário realizar um exame que faz a medida chamada Relação Pulmão-Cabeça (RPC). Quando a RPC for menor que 1,0, e/ou o bebê tem o fígado no tórax, a hérnia diafragmática é considerada muito grave e a possibilidade de sobrevivência após o parto é próxima de zero.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="baby"></i>
						<div class="desc">
							<h3>Oclusão Traqueal</h3>
							<p>Nos casos menos graves (sem o fígado no tórax ou RCP maior que 1,0), a chance de sobrevida após o parto pode chegar a 70%. Especificamente no caso do João Vitor, a RPC é 0,7 com parte do fígado herniado. Nesse caso, é recomendado um procedimento ainda no útero chamado de oclusão traqueal, onde é colocado um balão na traqueia do bebê promovendo um aumento no volume do pulmão, melhorando sua chance de sobrevivência, o que seria próximo a zero se esse procedimento não fosse feito. </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="baby"></i>
						<div class="desc">
							<h3>Seu apoio</h3>
							<p>Após o nascimento, ele deverá passar por uma cirurgia, onde os órgãos são realocados na parte abdominal e a hérnia diafragmática corrigida. O tratamento tem alto custo pela minuciosidade, complexidade, especialização da equipe médica e infraestrutura hospitalar. <b> Precisamos da sua ajuda para garantirmos as primeiras fases do tratamento do nosso filho. </b>
								</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div id="fh5co-testimony-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Seja amigo de João Vitor!</h2>
					<p>Todo apoio é bem vindo! João foi concebido para vencer; e você pode ajudar nessa luta. Apoie os pais, Marina e Vitor, com sua orações, palavras e <b>também nas primeiras fases do tratamento. Faça sua doação no pix: amigosdejoaovitor@gmail.com </b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-offset-0 to-animate">
					<div class="wrap-testimony animate-box">
						<div class="owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person1.png" alt="user">
									</figure>
									<h6>Marina e Vitor, pais de João Vitor</h6>
									<blockquote>
										<p>"Antes de formá-lo no ventre
											eu o escolhi;
											antes de você nascer, eu o separei
											e o designei profeta às nações."</p>
									</blockquote>
									<span>Jeremias, <a href="#" class="twitter">1:5</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person1.png" alt="user">
									</figure>
									<h6>Marina e Vitor, pais de João Vitor</h6>
									<blockquote>
										<p>"Uma boa formação no útero é crucial, pois é durante este período que se estabelecem as bases para o desenvolvimento físico e mental do bebê."</p>
									</blockquote>
									<span>Dr. Michael Lu, <a href="#" class="twitter">obstetra e ginecologista.</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person1.png" alt="user">
									</figure>
									<h6>Marina e Vitor, pais de João Vitor</h6>
									<blockquote>
										<p>Deus, que te criou sem ti, não te salvará sem ti.</p>
									</blockquote>
									<span>Santo Agostinho, <a href="#" class="twitter">Sermões</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="fh5co-cta" style="background-image: url(images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>Ajude na cirurgia de João Vitor!</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Apoie! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Amigos de João Vitor</h3>
				<p>Nós, Marina e Vitor, agradecemos a todos pelo apoio, de todo tipo. Que Deus abençoe. </p>
				<p><a href="https://wa.link/34fjcy" class="btn btn-primary btn-outline with-arrow btn-sm">Fale conosco<i class="icon-arrow-right"></i></a></p>
			</div>
			
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2024. Amigos de João Vitor e Missões Maria Peregrina		
			</div>
			
		</div>
	</footer>
	</div>
	
	